<div class="slider-wrapper-video">
    <div class="slider-video">
        <ul class="items">
            <li>
                <img src="/static/courses/angularjs/1.png" alt="Curso AngularJS">
            </li>
        </ul>
        <ul class="items">
            <li>
                <img src="/static/courses/angularjs/2.png" alt="Curso AngularJS">
            </li>
        </ul>
        <ul class="items">
            <li>
                <img src="/static/courses/angularjs/3.png" alt="Curso AngularJS">
            </li>
        </ul>
        <ul class="items">
            <li>
                <img src="/static/courses/angularjs/4.png" alt="Curso AngularJS">
            </li>
        </ul>
    </div>
</div>
