---
layout: default
title: "Abirtone :: Hacking, consultoría y formación"
active_tab: "home"
permalink: /
description: "Hacking ético, seguridad en código, consultoría y asesoramiento tecnológico y formación en MongoDB, OWASP, AngularJS, NodeJS, Python y Scapy"
---
<div class="carousel slide" id="carousel-133831">
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-133831">
        </li><li data-slide-to="1" data-target="#carousel-133831"></li>
        <li data-slide-to="2" data-target="#carousel-133831"></li>
        <li data-slide-to="3" data-target="#carousel-133832"></li>
        <li data-slide-to="4" data-target="#carousel-133833"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img alt="" src="/static/images/slider/slider-main-02.jpg">
            <div class="carousel-caption">
                <span>
                    Formación
                </span>
                <p class="clearfix">
                    Formación especializada en desarrollo, bases de datos, hacking y seguridad.
                </p>
                <a class="btn btn-danger" href="/formacion/">Más información &rarr;</a>
            </div>
        </div>
        <div class="item">
            <img alt="" src="/static/images/slider/slider-main-03.jpg">
            <div class="carousel-caption">
                <span>
                    Herramientas de hacking/seguridad a medida
                </span>
                <p class="clearfix">
                    Diseño y creación de herramientas de seguridad, análisis y hacking ético a medida, centradas en las necesidades de su compañía
                </p>
                <a class="btn btn-danger" href="/seguridad/herramientas-a-medida/">Más información &rarr;</a>
            </div>
        </div>
        <div class="item">
            <img alt="" src="/static/images/slider/slider-main-05.jpg">
            <div class="carousel-caption">
                <span>
                    Consultoría y asesoramiento
                </span>
                <p class="clearfix">
                    Consultoría y asesoramiento en securización de entornos y aplicativos, hacking ético, desarrollo y entornos cloud
                </p>
                <a class="btn btn-danger" href="/seguridad/servicio-consultoria/">Más información &rarr;</a>
            </div>
        </div>
        <div class="item">
            <img alt="" src="/static/images/slider/slider-main-04.png">
            <div class="carousel-caption">
                <span>
                    Seguridad en código
                </span>
                <p class="clearfix">
                    Análisis y detectación de vulnerabiliaddes en el código fuente de tus aplicaciones
                </p>
                <a class="btn btn-danger" href="/seguridad/codigo/">Más información &rarr;</a>
            </div>
        </div>
        <div class="item">
            <img alt="" src="/static/images/slider/slider-main-06.jpg">
            <div class="carousel-caption">
                <span>
                    Hacking ético
                </span>
                <p class="clearfix">
                    Pruebas de penetración y hacking ético en entornos controlados, simulando atacantes reales.
                </p>
                <a class="btn btn-danger" href="/seguridad/hacking-etico/">Más información &rarr;</a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-133831" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-133831" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="col-xs-12 col-sm-6">
    <h3>Novedades</h3>
    {% for post in site.posts %}
    <div class="row">
        <div class="col-sm-12 top-space-1_1">
            <a class="link center-block" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <p class="entry-p">{{ post.description }}</p>
            <a class="badge entry-link" href="{{ post.url | prepend: site.baseurl }}">Leer entrada &rarr;</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="col-xs-12 col-sm-6">
    <h3>Próximos cursos</h3>
    {% assign content = site.data.owasp_top_10 %}
    {% include courses_chunks/course_load_vars.html %}
    <h5>{{ title }}</h5>
    {% include courses_chunks/course_call_summary.html %}

    {% assign content = site.data.angularjs %}
    {% include courses_chunks/course_load_vars.html %}
    <h5>{{ title }}</h5>
    {% include courses_chunks/course_call_summary.html %}

    {% assign content = site.data.mongodb_esential %}
    {% include courses_chunks/course_load_vars.html %}
    <h5>{{ title }}</h5>
    {% include courses_chunks/course_call_summary.html %}

    {% assign content = site.data.scapy %}
    {% include courses_chunks/course_load_vars.html %}
    <h5>{{ title }}</h5>
    {% include courses_chunks/course_call_summary.html %}
</div>