<a name="bolsa"></a>
<div class="page-header section-title">
    <h2><i class="glyphicon glyphicon-education" aria-hidden="true"></i>Bolsa de trabajo</h2>
</div>
<p>Abirtone tiene acuerdos con compañías especializadas del sector, que te abrirán las puertas a nuevas aventuras y retos profesionales.</p>
<p>Cada día cerramos más acuerdos con grandes empresas, puedes consultar la lista completa de empresas colaboradoras aquí:</p>
<div class="row">
    <div class="col-xs-12 col-sm-12 form-group">
        <a href="/formacion/bolsa_trabajo/" target="_blank" class="btn btn-danger">Lista empresas colaboradoras &rarr;</a>
    </div>
</div>