<div class="panel-heading">
    <h3 class="panel-title">Resumen:</h3>
</div>
<div class="panel-body">
    <!-- Entradas resumen curso -->
    <div class="row alt-row-color">
        <div class="col-xs-6 col-sm-7 box-col-l"><b>Precio</b></div>
        <div class="col-xs-6 col-sm-5 box-col-r"><b class="color-green">{{ prize }}€</b> <i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Precio de lanzamiento, salvo que en la convocatoria indique lo contrario."></i></div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-7 box-col-l"><b>Horas lectivas</b></div>
        <div class="col-xs-6 col-sm-5 box-col-r"><b>{{ duration }}</b> horas</div>
    </div>
    <div class="row alt-row-color">
        <div class="col-xs-6 col-sm-7 box-col-l"><b>Grupos</b></div>
        <div class="col-xs-6 col-sm-5 box-col-r">15 pax máximo</div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-7 box-col-l"><b>Bolsa de trabajo</b></div>
        <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
    </div>

    <!-- Ofertas especiales -->
    <div class="row alt-row-color">
        <div class="col-xs-6 col-sm-7 box-col-l"><b>Descuento estudiantes</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Si eres estudiante universitario desempleado, podrás tener un descuento de hasta unt 15%. Contáctanos para más información"></i></div>
        <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
    </div>

    <!--Boton de reservar-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 box-border-top box-col-button">
            <a href="#convocatorias" class="btn btn-danger"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Ver convocatorias &rarr;</a>
        </div>
    </div>
</div>