<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="media">
            <div class="media-left media-top">
                <a href="#">
                    <img width="100px" class="media-object" src="/static/courses/common/certificate.jpg" alt="Logo certificado"/>
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">Certificación de conocimientos</h2>
                <p>Tras superar el examen final, se emitirá al alumno un certificado con los conocimientos aprendidos. En caso de no superarlo se emitirá un diploma de asistencia.</p>
            </div>
        </div>
    </div>
</div>