<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="media">
            <div class="media-left media-top">
                <a href="#">
                    <img width="100px" class="media-object" src="/static/courses/common/github.jpg" alt="Logo Github"/>
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">6 meses de contenidos</h2>
                <p>Podrás acceder a nuestro respositorio GitHub privado con: actualizaciones, ejemplos avanzados y material adicional, durante 6 meses.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="media">
            <div class="media-left media-top">
                <a href="#">
                    <img width="80px" class="media-object" src="/static/courses/common/ppt.jpg" alt="PPT logo"/>
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">3 meses material de profesor</h2>
                <p>Se dará al alumno el acceso durante 3 meses al material del profesor, utilizado en clase, para que puedas recordar las lecciones como si siguieras en clase.</p>
            </div>
        </div>
    </div>
</div>