<div class="page-header section-title">
    <h2><i class="glyphicon glyphicon-euro" aria-hidden="true"></i>Modo de pago</h2>
</div>
<p>Para formalizar tu asistencia y reservar tu plaza el pago habrá de realizarse, como mínimo, <b>10 días laborables antes</b> del inicio del curso.</p>
<p>Los métodos de pago disponibles actualmente son:</p>
<ul>
    <li>Transferencia bancaria</li>
    <li>Ingreso en ventanilla</li>
</ul>
<p><small><b>*</b> Muy pronto aceptaremos el pago con <b>tarjeta o Paypal</b>, pero <b>de momento no es posible</b>, lo sentimos</small>.</p>
