<div class="page-header section-title">
    <h2><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>Subvenciones y ayudas</h2>
</div>
<p>¿Sabías que por el mero hecho de ser trabajador tienes el <b>derecho</b> de poder acceder <b>a las subvenciones</b> de la <a class="link" target="_blank" href="http://www.fundaciontripartita.org/">Fundación Tripartital</a> para la formación.</p>
<img class="img-responsive pull-left" src="/static/courses/common/logo_tripartita.png" alt="Logo fundación tripartita"/>
<p>Si revisas <b>tu nómina</b>, podrás ver que todos los meses <b>se te descuenta</b> algo más de 1€ en concepto de aportación a la fundación.
    Gracias a ésta tienes el DERECHO de poder acceder a la formación subvencionada y tu empresa NO PUEDE NEGARSE (salvo contadas excepciones).</p>
<p><b>Los cursos impartidos por Abirtone están subvencionados</b> por la fundación Tripartita. Eso signifca que <b>pueden salirte GRATIS</b> (a ti y a tu empresa).</p>

