---
layout: default
title: Curso completo de desarrollo con AngularJS
active_tab: "course_angularjs"
course_name: Angular002
permalink: /formacion/desarrollo-web-angularjs/Angular002/
description: "Curso completo de desarrollo web de AngularJS: desde la toma de contacto hasta conceptos avanzados, de forma práctica"
---

{% assign content = site.data.angularjs %}
{% include courses_chunks/course_load_vars.html %}

{% assign course = content[page.course_name] %}
{% include courses_chunks/course_booking.html %}