<!--=============================footer=================================-->
<footer class="footer-main">
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-4">
                <ul class="list-services list-inline">
                    <li class="item-1"><a title="Facebook" href="http://www.facebook.com/abirtone"></a></li>
                    <li class="item-2"><a title="Twitter" href="http://twitter.com/abirtone"></a></li>
                    <li class="item-3"><a title="Youtube" href="https://www.youtube.com/channel/UCohiqjKcS4PvDr_L__y2L2Q"></a></li>
                    <li class="item-4"><a title="Github" href="http://github.com/abirtone"></a></li>
                    <li class="item-5"><a title="RSS" href="/feed.xml"></a></li>
                    <li class="item-6"><a title="Linkedin" href="https://www.linkedin.com/company/abirtone"></a></li>
                </ul>
            </article>
            <article class="col-xs-12 col-sm-3  hidden-xs">
                <h5>Navegación</h5>
                <ul class="list-unstyled list-1">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="{{ "/formacion/" | prepend: site.baseurl }}">Formación</a></li>
                    <li><b><a href="{{ "/formacion/bolsa_trabajo/" | prepend: site.baseurl }}">Bolsa de trabajo</a></b></li>
                    <li><a href="{{ "/sobre/" | prepend: site.baseurl }}">Nosotros</a></li>
                    <li><a href="{{ "/contacto/" | prepend: site.baseurl }}">Contacto</a></li>
                    <li><a href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a></li>
                </ul>
            </article>
            <article class="col-xs-12 col-sm-5">
                <h5>Contacto</h5>
                <ul class="list-unstyled list-1">
                    <li id="_ksi82"><i class="glyphicon glyphicon-phone"></i>Teléfono: <a href="#"></a></li>
                    <li id="9971yhhs">Email: <a href="#">asdfas</a></li>
                    <li ><i class="glyphicon glyphicon-map-marker"></i> Madrid<a href="#"></a></li>
                </ul>
            </article>
        </div>
    </div>
</footer>

<script src="/static/js/all.min.js"></script>
<script src="/static/js/custom.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        load_common();

        {% if page.active_tab == "contact" %}
            set_contact();
        {% endif%}

        {% if page.active_tab contains "course_" or page.active_tab contains "book_" or  page.active_tab == "blog" or  page.type == "post"  %}
            load_social();
        {% endif %}

        {% if page.active_tab contains "_not_available" %}
            set_alert_contact();
        {% endif %}

        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).parent().siblings().removeClass('open');
            $(this).parent().toggleClass('open');
        });

    });
</script>
