<!--=============================footer=================================-->
<footer class="footer-main">
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-4">
                <ul class="list-services list-inline">
                    <li class="item-1"><a title="Facebook" href="https://www.facebook.com/abirtone/"></a></li>
                    <li class="item-2"><a title="Twitter" href="http://twitter.com/abirtone"></a></li>
                    <li class="item-3"><a title="Youtube" href="https://www.youtube.com/channel/UCohiqjKcS4PvDr_L__y2L2Q"></a></li>
                    <li class="item-4"><a title="Github" href="http://github.com/abirtone"></a></li>
                    <li class="item-5"><a title="RSS" href="/feed.xml"></a></li>
                    <li class="item-6"><a title="Linkedin" href="https://www.linkedin.com/company/abirtone"></a></li>
                </ul>
            </article>
            <article class="col-xs-12 col-sm-3  hidden-xs">
                <h5>Navegación</h5>
                <ul class="list-unstyled list-1">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a></li>
                    <li><a href="{{ "/seguridad/" | prepend: site.baseurl }}">Hacking ético & seguridad</a></li>
                    <li><a href="{{ "/formacion/" | prepend: site.baseurl }}">Formación</a></li>
                    <li><a href="{{ "/libros/" | prepend: site.baseurl }}">Libros publicados</a></li>
                    <li><a href="{{ "/servicio-bolsa-trabajo/" | prepend: site.baseurl }}">Bolsa de trabajo</a></li>
                    <li><a href="{{ "/servicio-head-hunting/" | prepend: site.baseurl }}">Head Hunting</a></li>
                    <li><a href="{{ "/contacto/" | prepend: site.baseurl }}">Contacto</a></li>
                </ul>
            </article>
            <article class="col-xs-12 col-sm-5">
                <a name="mail_list"></a>
                <h5>Suscríbete a nuestro boletín de noticias</h5>
                {% include utils/mail_list.html %}

                <h5>Contacto</h5>
                <ul class="list-unstyled list-1">
                    <li id="_ksi82"><i class="glyphicon glyphicon-phone"></i>Teléfono: <a href="#"></a></li>
                    <li ><i class="glyphicon glyphicon-map-marker"></i> Madrid<a href="#"></a></li>
                    <li id="9971yhhs">Email: <a href="#">asdfas</a></li>
                </ul>
            </article>
        </div>
    </div>
</footer>

<script src="/static/js/all.min.js"></script>
<script src="/static/js/custom.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        load_common();

        {% if page.active_tab == "contact" %}
            set_contact();
        {% endif%}

        {% if page.active_tab contains "course_" or page.active_tab contains "book_" or  page.active_tab == "blog" or  page.type == "post"  %}
            load_social();
        {% endif %}

        {% if page.active_tab contains "trabajo_bolsa" %}
            set_bolsa_trabajo_mail();
        {% endif %}

        {% if page.active_tab contains "trabajo_headhunting" %}
            set_head_hunting_mail();
        {% endif %}

        {% if page.active_tab contains "_not_available" or page.enabled == 1 %}
            set_alert_contact();
        {% endif %}

        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).parent().siblings().removeClass('open');
            $(this).parent().toggleClass('open');
        });

    });

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63037649-1', 'auto');
    ga('send', 'pageview');
</script>
