<!--==============================header=================================-->
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container box-border">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img style="max-height: 70px;" class="img-responsive" src="/static/images/banner.png" alt="Abirtone Logo"/></a>
        </div>
        <div class="pull-right hidden-mail-list" style="margin-top: 20px;">
            <form class="form-inline" action="//abirtone.us12.list-manage.com/subscribe/post?u=b3431c396222bea9988e63116&amp;id=8ee1926f25" method="post">
                <div class="form-">
                    <div class="col-xs-12 col-sm-12">
                        <label style="margin-right: 25px;" for="mce-EMAIL">Las novedades en tu email:</label>
                        <input type="email" name="EMAIL" value="" class="form-control" id="mce-EMAIL" placeholder="Escribe tu mail..." required>
                        <input type="submit" value="Apuntarse" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger">
                    </div>
                </div>
            </form>
        </div>
        <div id="navbar" class="collapse navbar-collapse right">
            <ul class="nav navbar-nav">
                <li {% if page.active_tab == "home" %} class="active"{% endif %}><a  href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
                <li {% if page.active_tab == "blog" %} class="active"{% endif %}><a  href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a></li>
                <li class="dropdown {% if page.active_tab == "security" or page.active_tab contains "security_" %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hacking ético & seguridad<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header-top dropdown-header-top-first"><a href="/seguridad/"><i class="menu-icon glyphicon glyphicon glyphicon-th menu-icon"></i> <b>VER TODOS LOS SERVICIOS</b></a></li>
                        <li class="dropdown-header-node"><a href="/seguridad/hacking-etico/"><i class="menu-icon glyphicon glyphicon-arrow-right"></i> Auditoría & hacking ético</a></li>
                        <li class="dropdown-header-node"><a href="/seguridad/herramientas-a-medida/"><i class="menu-icon glyphicon glyphicon-arrow-right menu-icon"></i> Herramientas de seguridad</a></li>
                        <li class="dropdown-header-node"><a href="/seguridad/codigo/"><i class="menu-icon glyphicon glyphicon-arrow-right menu-icon"></i> Seguridad en código fuente</a></li>
                        <li class="dropdown-header-node"><a href="/seguridad/servicio-consultoria/"><i class="menu-icon glyphicon glyphicon-arrow-right menu-icon"></i> Consultoría y asesoramiento</a></li>
                    </ul>
                </li>

                <li class="dropdown {% if page.active_tab == "courses" or page.active_tab contains "course_" %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Formación<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header-top dropdown-header-top-first"><a href="/formacion/"><i class="menu-icon glyphicon glyphicon glyphicon-th menu-icon"></i> <b>VER TODA LA FORMACIÓN</b></a></li>
                        <li class="dropdown-header-top dropdown-header-top-first"><a href="/formacion/#desarrollo"><b><i class="glyphicon glyphicon glyphicon-arrow-right menu-icon"></i> DESARROLLO</b></a></li>
                        <!--<li class="dropdown-header">Programación</li>-->
                        <!--<li class="entry" class="dropdown-header-node"><a href="/formacion/desarrollo-web-nodejs/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-nodejs.png" alt="Icon NodeJS"/>NodeJS</a></li>-->
                        <!--<li class="entry not-available"><a href="/formacion/python/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-python.png" alt="Icon Python"/>Python</a></li>-->
                        <li class="entry"><a href="/formacion/desarrollo-web-angularjs/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-angularjs.ico" alt="Icon AngujarJS"/>AngularJS</a></li>
                        <!--<li class="entry not-available"><a href="/formacion/desarrollo-app-moviles-con-ionic/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-ionic.png" alt="Icon Ionic"/>Ionic</a></li>-->
                        <!--<li class="entry"><a href="/formacion/osgi/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-osgi.png" alt="Icon OSGI"/>OSGI</a></li>-->
                        <!--<li class="entry not-available"><a href="/formacion/drupal/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-drupal.png" alt="Icon Drupal"/>Drupal</a></li>-->
                        <!--<li class="entry not-available"><a href="/formacion/bootstrap/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-bootstrap.ico" alt="Icon Drupal"/>BootStrap</a></li>-->

                        <!--<li class="dropdown-header">Q&A</li>-->
                        <!--<li class="entry"><a href="/formacion/cucumber/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-cucumber.png" alt="Icon Cucumber"/>Test aceptación + Cucumber</a></li>-->

                        <li class="dropdown-header-top"><a href="/formacion/#mongodb"><i class="glyphicon glyphicon glyphicon-arrow-right menu-icon"></i><b>BASES DE DATOS</b></a></li>
                        <li class="dropdown dropdown-submenu entry">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="menu-icon" src="/static/images/top-menu/icon-menu-mongodb.png" alt="Icon MongoDB"/>MongoDB</a>
                            <ul class="dropdown-menu">
                                <li><a href="/formacion/mongodb-esencial/">{% include courses_chunks/level_elementary.html %}</i> Curso esencial</a></li>
                                <li><a href="/formacion/mongodb-avanzado/">{% include courses_chunks/level_advanced.html %} Curso Avanzado</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-header-top"><a href="/formacion/#seguridad"><i class="glyphicon glyphicon glyphicon-arrow-right menu-icon"></i><b>SEGURIDAD Y HACKING</b></a></li>
                        <!--<li class="dropdown-header">Hacking</li>-->
                        <li class="entry"><a href="/formacion/hacking-redes-python-y-scapy/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-scapy.png" alt="Icon Scapy"/>Seguridad de redes con Python</a></li>
                        <li class="entry"><a href="/formacion/hacking-web-owasp-top-10/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-owasp.png" alt="Icon OWASP"/>Hacking con OWASP Top 10</a></li>

                        <!--<li class="dropdown-header">Desarrollo seguro</li>-->
                        <!--<li class="dropdown dropdown-submenu entry">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="menu-icon" src="/static/images/top-menu/icon-menu-secure-code.png" alt="Icon desarrollo seguro"/>Desarrollo seguro</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="/formacion/desarrollo_seguro_esencial/">{% include courses_chunks/level_elementary.html %}</i> Curso esencial</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                    </ul>
                </li>


                <li class="dropdown {% if page.active_tab == "books" or page.active_tab contains "book_" %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Libros<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header-top dropdown-header-top-first"><a href="/libros/"><i class="menu-icon glyphicon glyphicon glyphicon-th menu-icon"></i> <b>VER TODOS LOS LIBROS</b></a></li>
                        <li class="dropdown-header-node"><a href="/libros/hacking-redes-python-y-scapy/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-scapy.png"  alt="Libro seguridad Scapy"/>Hacking de redes con Python y <b class="color-red">Scapy</b></a></li>
                        <li class="dropdown-header-node"><a href="/libros/desarrollo-web-con-angularjs/"><img class="menu-icon" src="/static/images/top-menu/icon-menu-angularjs.ico"  alt="Libro AngularJS"/>Angular<b class="color-red">JS</b> paso a paso</a></li>
                    </ul>
                </li>


                <li class="dropdown {% if page.active_tab == "trabajo" or page.active_tab contains "trabajo_" %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Trabajo & Head hunting<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header-node"><a href="/servicio-bolsa-trabajo/"><i class="menu-icon glyphicon glyphicon-arrow-right menu-icon"></i> Bolsa de trabajo</a></li>
                    <li class="dropdown-header-node"><a href="/servicio-head-hunting/"><i class="menu-icon glyphicon glyphicon-arrow-right menu-icon"></i> Head hunting</a></li>
                </ul>
                </li>


                <li {% if page.active_tab == "contact" %} class="active"{% endif %}><a  href="{{ "/contacto/" | prepend: site.baseurl }}">Contacto</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->