<!--==============================header=================================-->
<header>
  <div class="main zerogrid">
        <!--<h1><a href="/"><img width="300px" src="{{ "/static/images/banner.png" | prepend: site.baseurl }}" /></a></h1>-->
        <a class="logo" href="/"><img width="300px" src="{{ "/static/images/banner.png" | prepend: site.baseurl }}" /></a>
        <nav>
            <ul class="menu">
                <li><a {% if page.active_tab == "home" %} class="active"{% endif %} href="{{ "/" | prepend: site.baseurl }}">Inicio</a></li>
                <li><a {% if page.active_tab == "courses" %} class="active"{% endif %} href="{{ "/formacion/" | prepend: site.baseurl }}">Formación</a></li>
                <li><a {% if page.active_tab == "about" %} class="active"{% endif %} href="{{ "/sobre/" | prepend: site.baseurl }}">Nosotros</a></li>
                <li><a {% if page.active_tab == "contact" %} class="active"{% endif %} href="{{ "/contacto/" | prepend: site.baseurl }}">Contacto</a></li>
                <li><a {% if page.active_tab == "blog" %} class="active"{% endif %} href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>

    {% case page.active_tab %}

    {% when "home" %}
        {% include slider.html %}

    {% when "courses" %}
        {% include slider_formacion.html %}

    {% when "course_angularjs" %}
        {% include courses/angularjs_slider.html %}

    {% endcase %}

</header>