<!--==============================header=================================-->
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="img-responsive" src="/static/images/banner.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse right">
            <ul class="nav navbar-nav">
                <!--<li {% if page.active_tab == "home" %} class="active"{% endif %}><a href="{{ "/" | prepend: site.baseurl }}">Inicio</a></li>-->
                <li {% if page.active_tab == "blog" %} class="active"{% endif %}><a  href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a></li>
                <li class="dropdown {% if page.active_tab == "courses" or page.active_tab contains "course_" %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Formación<span class="caret"></span</a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header-top"><a href="/formacion/bolsa_trabajo/"><i class="glyphicon glyphicon-user menu-icon"></i><b>BOLSA DE TRABAJO</b></a></li>
                        <li class="dropdown-header-top"><a href="/formacion/"><i class="glyphicon glyphicon-th-list menu-icon"></i><b>VER TODA LA FORMACIÓN</b></a></li>
                        <li class="dropdown-header">Desarrollo</li>
                        <li class="dropdown-header-node"><a href="/formacion/nodejs/"><img class="menu-icon" src="/static/images/icon-menu-nodejs.png"  alt="Icon NodeJS"/>NodeJS</a></li>
                        <li><a href="/formacion/python/"><img class="menu-icon"  src="/static/images/icon-menu-python.png"  alt="Icon Python"/>Python</a></li>
                        <li><a href="/formacion/angularjs/"><img class="menu-icon"  src="/static/images/icon-menu-angularjs.ico"  alt="Icon AngujarJS"/>AngularJS   <i class="glyphicon glyphicon-menu-right color-red"></i></a></li>
                        <li><a href="/formacion/ionic/"><img class="menu-icon"  src="/static/images/icon-menu-ionic.png"  alt="Icon Ionic"/>Ionic</a></li>
                        <li><a href="/formacion/mongodb/"><img class="menu-icon"  src="/static/images/icon-menu-mongodb.png"  alt="Icon MongoDB"/>MongoDB</a></li>
                        <li><a href="/formacion/osgi/"><img class="menu-icon"  src="/static/images/icon-menu-osgi.png"  alt="Icon OSGI"/>OSGI</a></li>
                        <li><a href="/formacion/drupal/"><img class="menu-icon"  src="/static/images/icon-menu-drupal.png"  alt="Icon Drupal"/>Drupal</a></li>
                        <li><a href="/formacion/bootstrap/"><img class="menu-icon"  src="/static/images/icon-menu-bootstrap.ico"  alt="Icon Drupal"/>BootStrap</a></li>
                        <!--<li class="divider"></li>-->
                        <li class="dropdown-header">Hacking</li>
                        <li><a href="/formacion/scapy/"><img class="menu-icon"  src="/static/images/icon-menu-scapy.png"  alt="Icon Wireshark"/>Scapy avanzado</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if page.active_tab == "books" or page.active_tab contains "book_" %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Publicaciones<span class="caret"></span</a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li class="dropdown-header-top"><a href="/libros/"><i class="glyphicon glyphicon-th-list menu-icon"></i><b>VER TODAS LAS PUBLICACIONES</b></a></li>-->
                        <li class="dropdown-header">Libros</li>
                        <li class="dropdown-header-node"><a href="/libros/angularjs/"><img class="menu-icon" src="/static/images/icon-menu-angularjs.ico"  alt="Libro AngularJS"/>AngularJS</a></li>
                    </ul>
                </li>
                <li {% if page.active_tab == "about" %} class="active"{% endif %}><a  href="{{ "/sobre/" | prepend: site.baseurl }}">Nosotros</a></li>
                <li {% if page.active_tab == "contact" %} class="active"{% endif %}><a  href="{{ "/contacto/" | prepend: site.baseurl }}">Contacto</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

{% case page.active_tab %}

{% when "home" %}
    {% include slider.html %}

{% when "courses" %}
    {% include slider_formacion.html %}

{% endcase %}
