<div class="slider-wrapper">
    <div class="slider">
        <ul class="items">
            <li>
                <img src="/static/images/banner-nodejs.png" alt="Curso AngularJS">
                <div class="banner">
                    <strong>NodeJS <strong>by Google</strong></strong>
                    <em>La nueva forma de desarrolar ha revolucionado la web</em>
                    <span class="button">
                        <a href="/formacion/nodejs/"><strong>Ver temario</strong></a>
                    </span>
                </div>
            </li>
        </ul>
        <ul class="items">
            <li>
                <img src="/static/images/banner-python.png" alt="Curso AngularJS">
                <div class="banner">
                    <strong>Python <strong></strong></strong>
                    <em>Uno de los lenguajes más populares, extendidos y potentes</em>
                    <span class="button">
                        <a href="/formacion/python/"><strong>Ver temario</strong></a>
                    </span>
                </div>
            </li>
        </ul>
        <ul class="items">
            <li>
                <img src="/static/images/banner-angular.png" alt="Curso AngularJS">
                <div class="banner">
                    <strong>AngularJS <strong>by Google</strong></strong>
                    <em>La navaja suiza de la interfaz de usuario</em>
                            <span class="button">
                            	<a href="/formacion/angularjs/"><strong>Ver temario</strong></a>
                            </span>
                </div>
            </li>
        </ul>
        <ul class="items">
            <li>
                <img src="/static/images/banner-mongodb.png" alt="Curso AngularJS">
                <div class="banner">
                    <strong>MongoDB <strong>NoSQL al poder</strong></strong>
                    <em>El estandarte del rendimiento y NoSQL desde 0</em>
                            <span class="button">
                            	<a href="/formacion/mongodb/"><strong>Ver temario</strong></a>
                            </span>
                </div>
            </li>
        </ul>
        <ul class="items">
            <li>
                <img src="/static/images/banner-ionic.png" alt="Curso AngularJS">
                <div class="banner">
                    <strong>IONIC<strong>from scratch</strong></strong>
                    <em>Aprende a crear aplicaciones móviles desde el primer momento</em>
                            <span class="button">
                            	<a href="/formacion/ionic/"><strong>Ver temario</strong></a>
                            </span>
                </div>
            </li>
        </ul>
        <ul class="items">
            <li>
                <img src="/static/images/banner-osgi.png" alt="Curso AngularJS">
                <div class="banner">
                    <strong>OSGI <strong></strong></strong>
                    <em>Posiblemente el sistema más robusto, escalable y modular escrito en Java</em>
                            <span class="button">
                            	<a href="/formacion/osgi/"><strong>Ver temario</strong></a>
                            </span>
                </div>
            </li>
        </ul>
    </div>
</div>
