<div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner valign">
        <div class="item container-fluid active">
            <div class="row valign">
                <div class="holder col-sm-6">
                    <img class="img-responsive custom-img-carousel" style="margin-top: 20%" src="/static/images/cucumber-logo.png" alt="Curso Cucumber">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="carousel-caption">
                        <h2>Q&A y <strong>ATDD</strong></h2>
                        <p>Test de aceptación de cliente con Cucumber</p>
                        <a class="btn btn-danger" href="/formacion/cucumber/">Ver temarios &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item container-fluid">
            <div class="row valign">
                <div class="holder col-sm-6">
                    <img class="img-responsive" style="margin-top: 20%" src="/static/images/nodejs.png" alt="Curso NodeJS">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="carousel-caption">
                        <h2>NodeJS <strong>by google</strong></h2>
                        <p>La nueva forma de desarrolar ha revolucionado la web</p>
                        <a class="btn btn-danger" href="/formacion/nodejs/">Ver temario &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item container-fluid">
            <div class="row valign">
                <div class="holder col-sm-6">
                    <img class="img-responsive" style="margin-top: 20%" src="/static/images/angular.png" alt="Curso AngularJS">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="carousel-caption">
                        <h2>AngularJS <strong>by Google</strong></h2>
                        <p>La navaja suiza de la interfaz de usuario</p>
                        <a class="btn btn-danger" href="/formacion/angularjs/">Ver temario &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item container-fluid">
            <div class="row valign">
                <div class="holder col-sm-6">
                    <img class="img-responsive" style="margin-top: 20%" src="/static/images/mongodb.png" alt="Curso MongoDB">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="carousel-caption">
                        <h2>MongoDB <strong>El poder de NoSQL</strong></h2>
                        <p>El estandarte del rendimiento en NoSQL desde 0</p>
                        <a class="btn btn-danger" href="#mongodb">Ver temario &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item container-fluid">
            <div class="row valign">
                <div class="holder col-sm-6">
                    <img class="img-responsive"  style="margin-top: 20%" src="/static/images/osgi.png" alt="Curso OSGI">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="carousel-caption">
                        <h2>OSGI </h2>
                        <p>Posiblemente el sistema más robusto, escalable y modular escrito en Java</p>
                        <a class="btn btn-danger" href="/formacion/osgi/">Ver temario &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="controllers">
        <ol class="carousel-indicators bottom">
            <li data-target="#carousel-example-generic" class="active" data-slide-to="0"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>
    </div>
</div>
