<div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner valign">
        <div class="item container-fluid active">
            <div class="row valign">
                <div class="holder col-sm-6">
                    <img class="img-responsive" width="200px" style="margin-top: 20%" src="/static/books/angularjs.png" alt="AngularJS paso a paso">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="carousel-caption">
                        <h2>AngularJS Paso a Paso</h2>
                        <p>Aprende a crear una web profesional y completamente funcional desde 0.</p>
                        <a class="btn btn-danger" href="/libros/angularjs/">Ver índice &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="controllers">
        <ol class="carousel-indicators bottom">
            <li data-target="#carousel-example-generic" class="active" data-slide-to="0"></li>
        </ol>
    </div>
</div>
