<div class="slider-wrapper">
    <div class="slider">
        <ul class="items">
            <li>
                <img src="/static/images/courses_home.png" alt="Curso AngularJS">
                <div class="banner">
                    <strong>Formación<strong>especializada</strong></strong>
                    <em>Formación avanzada y de calidad en las últimas tecnologías</em>
                            <span class="button">
                            	<a href="/formacion/"><strong>Ver cursos</strong></a>
                            </span>
                </div>
            </li>
        </ul>
    </div>
</div>
