<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="holder col-sm-7 vcenter hidden-xs">
                <img class="img-responsive" src="/static/images/courses_home.png" alt="...">
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="carousel-caption">
                    <h2>Formación especializada</h2>
                    <p>Formación avanzada y de calidad en las últimas tecnologías</p>
                    <a class="btn btn-danger" href="/formacion/">Ver cursos &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="controllers">
        <ol class="carousel-indicators bottom">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        </ol>
    </div>
</div>

