<form class="form-horizontal" action="//abirtone.us12.list-manage.com/subscribe/post?u=b3431c396222bea9988e63116&amp;id=8ee1926f25" method="post">
    <div class="form-group">
        <div class="col-xs-12 col-sm-10">
            <input type="email" name="EMAIL" value="" class="form-control" id="mce-EMAIL" placeholder="Escribe tu mail..." required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-10">
            <input type="submit" value="Apuntarse" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger">
        </div>
    </div>
</form>
