---
layout: page
title: Formación especializada en desarrollo y seguridad
active_tab: "courses"
description: "Listado de cursos especializados en desarrollo y seguridad disponibles: AngularJS, MongoDB, Python, Hacking, OWASP"
permalink: /formacion/
---
<div class="carousel slide" id="carousel-133831">
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-133831"></li>
        <li data-slide-to="1" data-target="#carousel-133831"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img alt="" src="/static/images/slider/slider-courses-01.jpg">
            <div class="carousel-caption">
                <span>
                    Como siempre soñaste
                </span>
                <p class="clearfix">
                    Por desarrolladores y para desarrolladores.
                </p>
                <a class="btn btn-danger" href="#develop">Ir &rarr;</a>
            </div>
        </div>
        <div class="item">
            <img alt="" src="/static/images/slider/slider-courses-02.jpg">
            <div class="carousel-caption">
                <span>
                    Seguridad & hacking
                </span>
                <p class="clearfix">
                    Solo te podrá enseñar seguridad aquel que la ha vivido.
                </p>
                <a class="btn btn-danger" href="#security">Ir &rarr;</a>
            </div>div
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-133831" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-133831" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="row">
    <div class="col-sm-12 first-1 clearfix">
        <div class="page-header">
            <h1>Catálogo de formación</h1>
        </div>
    </div>
</div>

<h2 class="first-1">Seguridad</h2>
<a name="seguridad"></a>
<div class="row top-space-1">
    <div class="col-xs-12 col-sm-4" >
        <a href="/formacion/hacking-redes-python-y-scapy/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-scapy.png" alt="Curso Scapy"/></a>
        <div class="pull-right">{% include courses_chunks/level_advanced.html %}</div>
        <b>Hacking en redes con Python y Scapy</b>
        <p>Curso-taller de hacking de redes con Python y la herramienta suiza para la manipulación de a bajo nivel del redes de comunicaciones: <a class="link" href="http://www.secdev.org/projects/scapy/doc/usage.html">Scapy</a>.</p>
        <a class="link" href="/formacion/hacking-redes-python-y-scapy/">Ver temario &rarr;</a>
    </div>
    <div class="col-xs-12 col-sm-4" >
        <a href="/formacion/hacking-web-owasp-top-10/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-owasp.png" alt="Curso OWASP Top 10"/></a>
        <div class="pull-right">{% include courses_chunks/level_intermediate.html %}</div>
        <b>Hacking con OWASP Top 10</b>
        <p>Curso de seguridad y hacking web práctico. Basado en los ataques relacionados con los fallos de seguridad del <a class="link" href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project">OWASP Top 10</a>.</p>
        <a class="link" href="/formacion/hacking-web-owasp-top-10/">Ver temario &rarr;</a>
    </div>
</div>

<hr>

<h2>Desarrollo</h2>
<a name="desarrollo"></a>
<div class="row">
    <!--<div class="col-xs-12 col-sm-4">-->
        <!--<a href="/formacion/desarrollo-web-nodejs/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-nodejs.png" alt="Curso NodeJS"/></a>-->
        <!--<div class="pull-right">{% include courses_chunks/level_intermediate.html %}</div>-->
        <!--<b>NodeJS para la web</b>-->
        <!--<p>Curso avanzado de NodeJS impartido por.</p>-->
        <!--<a class="link" href="/formacion/desarrollo-web-nodejs/">Ver temario &rarr;</a>-->
    <!--</div>-->
    <div class="col-xs-12 col-sm-4">
        <a href="/formacion/python/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-python.png" alt="Curso Python"/></a>
        <b>Curso avanzado de Python</b>
        <p>Mantenibilidad en proyectos Python, generación automática de plantillas para proyectos, concurrencia avanzada, el GIL de Python, monkey patching, Cython, el nuevo módulo asyncio de Python 3 y modelos de comunicación a través de colas ZeroMQ y brokers. Impartido por <a class="link" href="https://es.linkedin.com/in/garciagarciadaniel" target="_blank">Daniel García (cr0hn)</a>, a través de Securízme</p>
        <a class="link" href="https://cursos.securizame.com/python-avanzado/">Ver temario &rarr;</a>
    </div>
    <div class="col-xs-12 col-sm-4">
        <a href="/formacion/desarrollo-web-angularjs/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-angularjs.png" alt="Curso AngujarJS"/></a>
        <div class="pull-right">{% include courses_chunks/level_intermediate.html %}</div>
        <b>Curso avanzado de AngujarJs</b>d
        <p>Formación en AngularJS, en la que aprenderás todos los puntos para contruir aplicaciones con el framework de Google <a class="link" href="https://www.linkedin.com/in/requerogarciaraul" target="_blank">Raúl Requero</a></p>
        <a class="link" href="/formacion/desarrollo-web-angularjs/">Ver temario &rarr;</a>
    </div>
    <!--<div class="col-xs-12 col-sm-4" >-->
        <!--<a href="/formacion/osgi/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-osgi.png" alt="Curso OSGI"/></a>-->
        <!--<div class="pull-right">{% include courses_chunks/level_advanced.html %}</div>-->
        <!--<b>OSGI avanzado</b>-->
        <!--<p>Curso avanzado de OSGI impartido por <a class="link" href="https://www.eclipsecon.org/europe2013/user/301" target="_blank">Rubén de Dios &rarr;</a></p>-->
        <!--<a class="link" href="/formacion/osgi/">Ver temario &rarr;</a>-->
    <!--</div>-->
</div>

<!--<h5>Calidad de código (<b>Q & A</b>)</h5>-->
<!--<div class="row top-space-1">-->
    <!--<div class="col-xs-12 col-sm-4" >-->
        <!--<a href="/formacion/cucumber/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-cucumber.png" alt="Curso Cucumber"/></a>-->
        <!--<div class="pull-right">{% include courses_chunks/level_intermediate.html %}</div>-->
        <!--<b>Test de aceptación (ATDD) con Cucumber</b>-->
        <!--<p>Curso-taller de test de aceptación de cliente e implementación con Cucumber. Impartido por: <a class="link" href="https://es.linkedin.com/pub/iván-corrales-solera/1b/88/b9" target="_blank">Iván Corrales</a></p>-->
        <!--<a class="link" href="/formacion/cucumber/">Ver temario &rarr;</a>-->
    <!--</div>-->
<!--</div>-->

<!--<a name="mongodb"></a>-->
<!--<h5>Bases de datos </h5>-->
<!--<div class="row top-space-1">-->
    <!--<div class="col-xs-12 col-sm-4" >-->
        <!--<a href="/formacion/mongodb-esencial/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-mongodb.png" alt="Curso MongoDB"/></a>-->
        <!--<div class="pull-right">{% include courses_chunks/level_basic.html %}</div>-->
        <!--<b>MongoDB esencial</b>-->
        <!--<p>Curso avanzado de MongoDB impartido por <a target="bl" href="https://www.linkedin.com/in/victorcuervo/es" class="link">Victor Cuervo</a></p>-->
        <!--<a class="link" href="/formacion/mongodb-esencial/">Ver temario &rarr;</a>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-4" >-->
        <!--<a href="/formacion/mongodb-avanzado/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-mongodb.png" alt="Curso MongoDB"/></a>-->
        <!--<div class="pull-right">{% include courses_chunks/level_intermediate.html %}</div>-->
        <!--<b>MongoDB avanzado</b>-->
        <!--<p>Curso avanzado de MongoDB impartido por <a target="_blank" href="https://www.linkedin.com/in/victorcuervo/es" class="link">Victor Cuervo</a></p>-->
        <!--<a class="link" href="/formacion/mongodb-avanzado/">Ver temario &rarr;</a>-->
    <!--</div>-->
<!--</div>-->

<!--<hr>-->
<!--<h2 class="first-1">Próximamente...</h2>-->
<!--<div class="row top-space-1">-->
    <!--<div class="col-xs-12 col-sm-4 not-available">-->
        <!--<a href="/formacion/desarrollo-app-moviles-con-ionic/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-ionic.png" alt="Curso Ionic"/></a>-->
        <!--<b>Ionic avanzado</b>-->
        <!--<p>Curso avanzado de Ionic impartido por <a class="link" href="https://www.linkedin.com/in/requerogarciaraul" target="_blank">Raúl Requero &rarr;</a></p>-->
        <!--<a class="link" href="/formacion/desarrollo-app-moviles-con-ionic/">Ver temario &rarr;</a>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-4 not-available" >-->
        <!--<a href="/formacion/bootstrap/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-bootstrap.png" alt="Curso Bootstrap"/></a>-->
        <!--<b>CSS Bootstrap avanzado</b>-->
        <!--<p>Curso avanzado de Bootstrap impartido por <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Aún no se ha decidido quién será el profesor"></i></p>-->
        <!--<a class="link" href="/formacion/bootstrap/">Ver temario &rarr;</a>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-4 not-available" >-->
        <!--<a href="/formacion/drupal/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-drupal.png" alt="Curso Drupal"/></a>-->
        <!--<b>Drupal avanzado</b>-->
        <!--<p>Curso avanzado de Drupal impartido por <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Aún no se ha decidido quién será el profesor"></i></p>-->
        <!--<a class="link" href="/formacion/drupal/">Ver temario &rarr;</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="row top-space-1">-->
    <!--<div class="col-xs-12 col-sm-4 not-available">-->
        <!--<a href="/formacion/python/"><img class="img-responsive img-responsive-border" src="/static/images/courses/icon-python.png" alt="Curso Python"/></a>-->
        <!--<b>Cursos Python</b>-->
        <!--<p>Cursos de Python, de diferentes niveles de dificultad, impartidos por <a class="link" href="https://es.linkedin.com/in/garciagarciadaniel" target="_blank">Daniel García (cr0hn)</a></p>-->
        <!--<a class="link" href="/formacion/python/">Ver temario &rarr;</a>-->
    <!--</div>-->
<!--</div>-->
