---
layout: course
title: Curso completo de desarrollo con AngularJS
active_tab: "course_angularjs"
permalink: /formacion/desarrollo-web-angularjs/
description: "Curso completo de desarrollo web de AngularJS: desde la toma de contacto hasta conceptos avanzados, de forma práctica"
link_icon: "http://abirtone.com/static/images/angular.png"
---


<div class="col-xs-12 col-sm-8">

    <div class="page-header first-3 first-section">
        <img class="img-responsive pull-right" src="/static/images/courses/icon-angularjs.png" alt="Logo curso angularjs"/>
        <h1>Curso completo de desarrollo de web práctico con AngularJS - DEV01</h1>
        <ul class="breadcrumb">
            <li><a class="link" href="/">Inicio</a></li>
            <li><a class="link" href="/formacion/">Formación</a></li>
            <li><a class="link" href="/formacion/#desarrollo">Desarrollo</a></li>
            <li class="active">AngularJS</li>
        </ul>
        {% include courses_chunks/level_intermediate.html %}
    </div>

    <div class="page-header section-title">
        <h2><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> ¿ Qué es AngularJS ?</h2>
    </div>
    <p>AngularJS nos ypermitirá hacer <b>interfaces web </b>de manera extremadamente <b>rápida, mantenibles y testeables</b>. AngujarJS cuenta con el respaldo de <b>Google, creador del mismo</b>. Según la web de proyecto:</p>

    <blockquote>
        <p>Angularjs le permite escribir aplicaciones web del lado del cliente <b>como si tuvieras un navegador más inteligente </b><i>[...]</i> <b>sincroniza automáticamente</b> los datos de la interfaz de usuario <i>[...]</i> para ayudar a estructurar <b>su aplicación</b> mejor y que sea <b>más fácil probar</b> <i>...</i></p>
        <footer>Fuente: <a class="link" href="https://github.com/angular/angular.js">Angujarjs.com</a></footer>
    </blockquote>

    <!-- Indice del curso -->
    {% include courses_chunks/indice_temario_titulo.html %}
    <ul class="list-group">
        <li class="list-group-item">AngularJS: Que es y en que consiste</li>
        <li class="list-group-item">Entendiendo los <code>Scopes</code></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li><code>$scope</code> </li>
                <li><code>$rootScope</code></li>
            </ul>
        </li>
        <li class="list-group-item">Templates</li>
        <li class="list-group-item">Modules <code>ng-app</code></li>
        <li class="list-group-item">Controllers <code>ng-controller</code></li>
        <li class="list-group-item">Filters</li>
        <li class="list-group-item">Services</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li> Factory </li>
                <li> Service </li>
                <li> Provider  </li>
                <li> Value </li>
                <li> Constant </li>
                <li> Diferencias y cómo legir la factoría adecuada </li>
            </ul>
        </li>
        <li class="list-group-item">Directivas</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li> <code>ng-app</code></li>
                <li> <code>ng-controller</code></li>
                <li> <code>ng-model</code></li>
                <li> <code>ng-value</code></li>
                <li> <code>ng-options</code></li>
                <li> <code>ng-show</code>/ <code>ng-hide</code></li>
                <li> <code>ng-if</code></li>
                <li> <code>ng-switch</code>/ <code>ng-switch-when</code>/ <code>ng-switch-default</code></li>
                <li> <code>ng-repeat</code></li>
                <li> <code>ng-class</code></li>
                <li> <code>ng-click</code>/ <code>ng-dblclick</code></li>
                <li> <code>ng-src</code>/ <code>ng-href</code></li>
                <li> <code>ng-include</code></li>
            </ul>
        </li>
        <li class="list-group-item">Directivas personalizadas</li>
        <li class="list-group-item">Formularios</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li> ¿ Qué son ? </li>
                <li> En qué consisten </li>
                <li> Validadores </li>
                <li> Creación de nuestra propia directiva de validación </li>
            </ul>
        </li>
        <li class="list-group-item">Routers</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li> ¿ Qué son ? </li>
                <li> <code>ng-router</code> </li>
                <li> <code>ui-router</code> </li>
                <li> Angular <code>new-router</code> </li>
            </ul>
        </li>
        <li class="list-group-item">Comunicación con el servidor</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li> Patrones: <code>Defer</code> y <code>Promise</code></li>
                <li> <code>$http</code> </li>
                <li> <code>$resource</code> </li>
                <li> RestAngular </li>
            </ul>
        </li>
        <li class="list-group-item">Eventos</li>
        <li class="list-group-item">Internacionalización</li>
        <li class="list-group-item">Animaciones</li>
        <li class="list-group-item">Optimización y mejoras de rendimiento</li>
        <li class="list-group-item">Compatibilidad con <i>Internet Explorer</i></li>
        <li class="list-group-item">Testing</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li> Test unitarios </li>
                <li> Test <i>E2E</i> </li>
            </ul>
        </li>
        <li class="list-group-item">Librerías imprescindibles</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li> Angular-UI </li>
                <li> UI-BoosStrap </li>
                <li> Angular-Material </li>
            </ul>
        </li>
        <li class="list-group-item">Cómo prepararnos para la llegada de AngularJS 2</li>
    </ul>

    <!-- Inscripcion-->
    <a name="convocatorias"></a>
    {% include courses_chunks/convocatorias_titulo.html %}
    <p>Estas son las convocotarias actualmente activas:</p>

    {% assign content = site.data.angularjs %}
    {% include courses_chunks/course_call.html %}

    <!-- Bolsa trabajo -->
    {% include courses_chunks/bolsa.html %}

    <!-- Referencias -->
    {% include courses_chunks/referencias_titulo.html %}
    <ul>
        <li><a class="link" href="http://www.desarrolloweb.com/articulos/que-es-angularjs-descripcion-framework-javascript-conceptos.html">AngujarJS a vista de pájaro &rarr;</a></li>
        <li><a class="link" href="http://pablolazarodev.blogspot.com.es/2013/05/que-es-angularjs-una-breve-introduccion.html">¿Qué es AngularJS? Una breve introducción &rarr;</a></li>
        <li><a class="link" href="http://www.sitepoint.com/10-reasons-use-angularjs/">10 razones para aprender AngujarJS &rarr;</a></li>
        <li><a class="link" href="http://coderfactory.com/posts/5-reasons-why-you-should-learn-angularjs">5 formas y motivos para aprender AngujarJS &rarr;</a></li>
        <li><a class="link" href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/">Formación on-line básica creada por Google &rarr;</a></li>
    </ul>
</div>

<div class="col-xs-12 col-sm-4 first-3">
    <div class="panel panel-abirtone">
    {% assign prize = 280 %}
    {% assign duration = 18 %}
    {% include courses_chunks/lateral_table.html %}
    </div>
</div>