---
layout: default
title: Curso test de aceptación con Cucumber
active_tab: "course_cucumber"
permalink: /formacion/cucumber/
description: "Curso-taller bonificado de test de aceptación (ATDD) con Cucumber, presencial en Madrid"
link_icon: "http://abirtone.com/static/images/cucumber-logo.png"
---

<div class="col-xs-12 col-sm-8">

    <div class="page-header first-3 first-section">
        <div class="pull-right text-center">
            <img class="img-responsive" src="/static/images/cucumber-logo.png" alt="Logo Cucumber"/>
            {% include courses_chunks/level_intermediate.html %}
        </div>
        <h1>Curso-taller de test de aceptación (ATDD) con <b>Cucumber</b> (subvencionado) - QA01</h1>
    </div>

    <div class="page-header section-title">
        <h2><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> ¿ Qué son los test de aceptación de cliente ?</h2>
    </div>

    <p>Los test de aceptación <b>aseguran</b> que se ha desarrollado <b>la funcionalidad esperada por el cliente</b>. </p>

    <p>Las pruebas de aceptación son escritas antes que la funcionalidad. Se definen los flujos especificados por el cliente y se esperan que éste los valide. Una vez finalice la validación por parte del cliente, se procede a escribir el código.</p>

    <div class="page-header section-title">
        <h2><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> ¿ Qué es Cucumber ?</h2>
    </div>
    <p>Cucumber es una herramienta que ejecuta descripciones funcionales en texto plano como <b>test automáticos</b>, aprovechando las ventajas de ATDD como puede ser acercar la <b>capa de negocio</b> y que se desarrollen bien las <b>funcionalidades deseadas</b>.</p>

    {% include courses_chunks/indice_temario_titulo.html %}
    <ul class="list-group">
        <li class="list-group-item">Módulo 1: Introducción Cucumber</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Qué es Cucumber</li>
                <li>Cucumber a vista de pájaro</li>
                <li>¿Qué son los test de aceptación (<code>ATDD</code>)?</li>
                <li>Unit testing vs ATDD</li>
            </ul>
        </li>

        <li class="list-group-item">Módulo 2: Primeros pasos con Cucumber</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Preparación del entorno de trabajo</li>
                <li>Creación y configuración de un proyecto para Cucumber</li>
                <li><code>DSL</code> utilizada por cucumber</li>
                <li>Desarrollo de nuestro primer <code>feature</code> para Cucumber</li>
                <li>Ejecución de tests desde <code>Maven</code> y <code>Gradle</code></li>
            </ul>
        </li>

        <li class="list-group-item">Módulo 3: Cucumber avanzado</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Integrando Cucumber con selenium <code>webdriver</code></li>
                <li>Integrando Cucumber con <code>Spring</code></li>
                <li>Desarrollo avanzado con Cucumber</li>
                <li>Publicación de informes</li>
                <li>Cucumber en un proceso de integración continua</li>
                <li>Configuración de <code>Jenkins</code> y Cucumber</li>
                <li>Ejecución de Cucumber con <code>Docker</code></li>
            </ul>
        </li>
    </ul>

    <!-- Metodo Abirtone -->
    {% include courses_chunks/imparticion.html %}

    <!-- Material -->
    {% include courses_chunks/material_titulo.html %}
    {% include courses_chunks/material_detalles_row1.html %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="media">
                <div class="media-left media-top">
                    <a href="https://www.jetbrains.com/idea/" target="_blank">
                        <img width="100px" class="media-object" src="/static/courses/common/intellij.png" alt="IntelliJ logo" />
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Licencia IntelliJ</h2>
                    <p>Licencia IntelliJ Student. Completamente funcional. Para que puedas seguir usándola durante 1 año.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img width="100px" class="media-object" src="/static/courses/common/certificate.jpg" alt="Logo certificado"/>
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Certificación de conocimientos</h2>
                    <p>Tras superar el examen final, se emitirá al alumno un certificado con los conocimientos aprendidos. En caso de no superarlo se emitirá un diploma de asistencia.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bolsa trabajo -->
    {% include courses_chunks/bolsa.html %}

    <!-- Subvención -->
    {% include courses_chunks/subvencion.html %}

    <!-- Inscripcion-->
    <a name="inscripcion"></a>
    {% include courses_chunks/inscripcion_titulo.html %}
    <p>Este curso no está disponible todavía. Si nos dejas un mail, te avisaremos cuando esté disponible para ser cursado.</p>
    <p><small><b>*</b> La información que nos facilites <b>SOLAMENTE</b> la utilizaremos para enviar información de <b>ESTE</b> curso.</small> </p>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <form class="form-horizontal" id="contact-form" method="POST" action="//formspree.io/">
                <div class="form-group">
                    <label for="inputEmail3" class="col-xs-12 col-sm-2 control-label">Tu email:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="email" name="_replyto" class="form-control" id="inputEmail3" placeholder="Escribe tu mail" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">Enviar &rarr;</button>
                    </div>
                </div>
                <input name="_subject" type="hidden" value="[informacion-cucumber]">
                <input type="hidden" name="_next" value="http://abirtone.com/formacion/info_cursos/" >
            </form>
        </div>
    </div>

    <!-- Inscripcion-->
    {% include courses_chunks/ubicacion.html %}

    <!-- Modo de pago -->
    {% include courses_chunks/pago.html %}

    <!-- Referencias -->
    {% include courses_chunks/referencias_titulo.html %}
    <ul>
        <li><a class="link" href="http://gaboesquivel.com/blog/2014/differences-between-tdd-atdd-and-bdd/">ATDD vs TDD vs BDD&rarr;</a></li>
        <li><a class="link" href="http://www.4rsoluciones.com/test-de-aceptacion-el-ultimo-paso-para-el-aseguramiento-de-calidad-en-software/">Test de aceptación: el último paso para el aseguramiento de calidad en software &rarr;</a></li>
        <li><a class="link" href="http://www.monografias.com/trabajos36/pruebas-de-aceptacion/pruebas-de-aceptacion2.shtml">Pruebas de aceptación de cliente &rarr;</a></li>
        <li><a class="link" href="http://codeutopia.net/blog/2013/07/28/why-use-user-story-based-testing-tools-like-cucumber-instead-of-other-tddbdd-tools/">Porqué usar ATDD en lugar de TDD/BDD &rarr;</a></li>
    </ul>
</div>

<div class="col-xs-12 col-sm-4 first-2">
    <div class="panel panel-abirtone">
        <div class="panel-heading">
            <h3 class="panel-title">Resumen curso-taller Cucumber</h3>
        </div>
        <div class="panel-body">
            <!-- Entradas resumen curso -->
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Precio</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Subvencionable a través de la fundación TriPartita. IVA incluido"></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><b class="color-green">350€</b></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Horas lectivas</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><b>5</b> horas</div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Duración</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r">1 día</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Horario</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="El horario puede adaptarse a la disponibilidad y agenda de los asistentes"></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r">Tardes</div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Modo</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><b>Presencial</b></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Lugar</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><a class="link" href="#ubicacion">Madrid &rarr;</a></div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Grupos</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r">15 pax máximo</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Bolsa de trabajo</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Licencia incluida</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Licencia IntelliJ Educational incluida"></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Materia adicional</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Pendrives, libretas, bolígrafos o cualquier otro material que fuese necesario."></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Documentación impresa</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Subvencionado</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i> <i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Subvencionable a través de la fundación TriPartita. Consultanos para más información."></i></div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Profesor</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><a class="link" href="https://es.linkedin.com/pub/iván-corrales-solera/1b/88/b9" target="_blank">Iván Corrales &rarr;</a></div>
            </div>

            <!-- Ofertas especiales -->
            <div class="row box-border-top">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Descuentos para grupos</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Si sois 5 o más, podréis tener un descuento de hasta uno 10% por alumno. Contactanos para más información"></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>

            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Descuentos para estudiantes</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Si eres estudiante universitario desempleado, podrás tener un descuento de hasta unt 15%. Contáctanos para más información"></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>

            <!--Boton de reservar-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 box-border-top box-col-button">
                    <a href="#inscripcion" class="btn btn-danger"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Inscribirse &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>