---
layout: default
title: Curso de MongoDB y Paradigma de bases de datos NoSQL
active_tab: "course_mongodb"
permalink: /formacion/mongodb-esencial/
description: "Curso de progración, installación y manejos MongoDB y Paradigma de bases de datos NoSQL"
link_icon: "http://abirtone.com/static/images/icon-mongodb.png"
---

<div class="col-xs-12 col-sm-8">

    <div class="page-header first-3 first-section">
        <div class="pull-right text-center">
            <img class="img-responsive" src="/static/images/courses/icon-mongodb.png" alt="Logo MongoDB"/>
        </div>
        <h1>Curso de MongoDB y Paradigma de bases de datos NoSQL - DEV04</h1>
        <ul class="breadcrumb">
            <li><a class="link" href="/">Inicio</a></li>
            <li><a class="link" href="/formacion/">Formación</a></li>
            <li><a class="link" href="/formacion/#desarrollo">Desarrollo</a></li>
            <li class="active">MongoDB y NoSQL</li>
        </ul>
        {% include courses_chunks/level_elementary.html %}
    </div>

    <div class="page-header section-title">
        <h2><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> ¿ Qué es MongoDB ?</h2>
    </div>

    <p>MongoDB es un <b>sistema de base de datos</b>, de la nueva familia <b>NoSQL</b> u orientado a documentos, Open Source y <b>gratuita</b>.</p>

    <p>MongoDB es una base de datos ágil que permite a los esquemas cambiar rápidamente cuando las aplicaciones evolucionan. Ha sido <b>creado para</b> brindar <b>escalabilidad, rendimiento</b> y gran disponibilidad.</p>

    <!-- Indice del curso -->
    {% include courses_chunks/indice_temario_titulo.html %}
    <ul class="list-group">
        <li class="list-group-item">Módulo 1: <b>Bases de datos NoSQL</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Introducción al concepto de NoSQL</li>
                <li>Revisión de las diferentes bases de datos NoSQL existentes</li>
                <li>Revisión de características y diferencias entre bases de datos NoSQL</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 2: <b>Introducción a MongoDB</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Introducción a la base de datos MongoDB</li>
                <li>Versiones y principales características.</li>
                <li>Revisión de <code>JSON</code>/<code>BSON</code></li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 3: <b>Conceptos Básicos de MongoDB</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li><b>Instalación</b> de MongoDB</li>
                <li>Cómo conectarse a MongoDB</li>
                <li>Revisión de los conceptos de base de datos y colección</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 4: <b>Operaciones CRUD con MongoDB</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Proyecciones de Datos</li>
                <li><code>Filters</code></li>
                <li>Operadores</li>
                <li>Ordenaciones</li>
                <li>Manejo de Límites</li>
                <li>Uso de Cursores</li>
                <li>Inserciones de Datos</li>
                <li>Campos <code>autoincrementales</code></li>
                <li>Actualizaciones de Datos</li>
                <li><code>Upserts</code></li>
                <li>Borrados de Datos</li>
                <li>Índices en MongoDB</li>
                <li>Creación de índices en MongoDB</li>
                <li>Análisis de <code>explain plans</code></li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 5: <b>Framework de Agregación de MongoDB</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li><code>Pipeline</code> del framework de agregación</li>
                <li>Contadores</li>
                <li><code>Distinct</code></li>
                <li>Agrupaciones</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 6: <b>Shell Javascript en MongoDB</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Conexión con la linea de comandos de Mongo</li>
                <li>Operaciones desde el <code>Shell</code> Javascript de MongoDB</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 7: <b>Desarrollando con MongoDB</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>MongoDB y Java</li>
                <li>MongoDB y Spring</li>
                <li>MongoDB y Python</li>
                <li>MongoDB y NodeJS</li>
            </ul>
        </li>
    </ul>

    <!-- Inscripcion-->
    <a name="convocatorias"></a>
    {% include courses_chunks/convocatorias_titulo.html %}
    <p>Estas son las convocotarias actualmente activas:</p>

    {% assign content = site.data.mongodb_esential %}
    {% include courses_chunks/course_call.html %}

    <!-- Bolsa trabajo -->
    {% include courses_chunks/bolsa.html %}

    <!-- Relacionado -->
    {% include courses_chunks/relacionado.html %}
    <p>Puede que también te interesen estos cursos:</p>
    <ul>
        <li><a class="link" href="/formacion/mongodb-avanzado/">Curso subvencionado de MongoDB Avanzado  &rarr;</a></li>
    </ul>

    <!-- Referencias -->
    {% include courses_chunks/referencias_titulo.html %}
    <ul>
        <li><a class="link" href="http://docs.mongodb.org/manual/installation/">Manual de instalación oficial de MongoDB &rarr;</a></li>
        <li><a class="link" href="https://dzone.com/articles/when-use-mongodb-rather-mysql">Cuándo usar NoSQL y MongoDB &rarr;</a></li>
        <li><a class="link" href="https://blog.udemy.com/es/nosql-vs-sql-tiempo-para-un-cambio/">Porqué usar NoSQL y MongoDB &rarr;</a></li>
        <li><a class="link" href="http://developer.telerik.com/featured/decide-neo-blue-pill-red-pill/">NoSQL vs SQL &rarr;</a></li>
        <li><a class="link" href="http://s3.amazonaws.com/info-mongodb-com/MongoDB-Performance-Best-Practices.pdf">Mejora de rendimiento y buenas prácticas en MongoDB &rarr;</a></li>
    </ul>
</div>

<div class="col-xs-12 col-sm-4 first-2">
    <div class="panel panel-abirtone">
        {% assign prize = 295 %}
        {% assign duration = 20 %}
        {% include courses_chunks/lateral_table.html %}
    </div>
</div>