---
layout: default
title: Curso avanzado de MongoDB
active_tab: "course_mongodb_avanzado"
permalink: /formacion/mongodb_avanzado/
description: "Curso bonificado y, nivel avanzado, de MongoDB en Madrid y presencial"
link_icon: "http://abirtone.com/static/images/icon-mongodb.png"
---

<div class="col-xs-12 col-sm-8">

    <div class="page-header first-3 first-section">
        <div class="pull-right text-center">
            <img class="img-responsive" src="/static/images/icon-mongodb.png" alt="Logo MongoDB"/>
            {% include courses_chunks/level_advanced.html %}
        </div>
        <h1>Curso <b>MongoDB</b>. Nivel Avanzado (subvencionado) - MA01</h1>
    </div>

    <div class="page-header section-title">
        <h2><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> MongoDB para quienes buscan más</h2>
    </div>

    <p>Con MongoDB puedes realizar búsqueda tan complejas como necesites en un tiempo record.</p>

    <p>MongoDB está preparado para soportar gran carga de procesamiento, disponibilidad y tolerancia a fallos.</p>

    <p>En este curso podrás aprender todo esto y mucho más.</p>

    {% include courses_chunks/indice_temario_titulo.html %}
    <ul class="list-group">
        <li class="list-group-item">Módulo 1: Modelos de Datos NoSQL</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Revisión de los diferentes modelos</li>
                <li>Modelos Embebidos</li>
                <li>Modelos Normalizados</li>
                <li>Relaciones y objetos referenciados</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 2: Operaciones Avanzadas</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Operaciones Masivas de Datos - Bulking</li>
                <li>Covered Queries</li>
                <li>Manejando Operaciones Atómicas. Two Phase Commit</li>
                <li>Text Search</li>
                <li>Manejo de Expresiones Regulares</li>
                <li>Capped Collections</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 3: Índices Avanzados</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Índices sobre Arrays</li>
                <li>Índices sobre Subdocumentos</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 4: Map Reduce con MongoDB</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Framework de agregación </li>
                <li>MapReduce con MongoDB</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 5: Sharding</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Creación de un cluster</li>
                <li>Distribución de datos entre diferentes shards</li>
                <li>Ejecución de queries distribuidas</li>
                <li>Manejo de indices en el Sharding</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 6: Replica Set</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Configurando un ReplicaSet</li>
                <li>Añadiendo miembros al ReplicaSet</li>
                <li>Consideraciones en consultas y escrituras sobre un ReplicaSet</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 7: GridFS</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Utilizando GridFS</li>
                <li>Consultas e Inserciones en GridFS</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 8: Herramientas de Desarrollo sobre MongoDB</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>MonjaDB</li>
                <li>Enide Studio</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 9: MongoDB y Cloud</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Uso de MongoLab para desplegar MongoDB como DBaaS</li>
                <li>Conexión y uso de MongoDB en Cloud</li>
                <li>Operaciones básicas de MongoDB en Cloud</li>
                <li>MongoDB en Heroku</li>
                <li>MongoDB en AWS</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 10: MMS</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Introducción a MMS</li>
                <li>Administración de MongoDB desde MMS</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 11: Casos de Uso de MongoDB</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Modelos Dinámicos y Metamodelos</li>
                <li>Entornos de Grandes Volúmenes de Datos</li>
                <li>Agregaciones de Información</li>
                <li>Gestión de Contenidos</li>
            </ul>
        </li>
    </ul>

    <!-- Metodo Abirtone -->
    {% include courses_chunks/imparticion.html %}

    <!-- Material -->
    {% include courses_chunks/material_titulo.html %}
    {% include courses_chunks/material_detalles_row1.html %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img width="100px" class="media-object" src="/static/courses/common/webstorm.png" alt="WebStorm logo" />
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Licencia WebStorm</h2>
                    <p>Licencia WebStorm Student. Completamente funcional. Para que puedas seguir usándola durante 1 año.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img width="100px" class="media-object" src="/static/courses/common/certificate.jpg" alt="Logo certificado"/>
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Certificación de conocimientos</h2>
                    <p>Tras superar el examen final, se emitirá al alumno un certificado con los conocimientos aprendidos. En caso de no superarlo se emitirá un diploma de asistencia.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bolsa trabajo -->
    {% include courses_chunks/bolsa.html %}

    <!-- Subvención -->
    {% include courses_chunks/subvencion.html %}

    <!-- Inscripcion-->
    <a name="inscripcion"></a>
    {% include courses_chunks/inscripcion_titulo.html %}
    <p>Este curso no está disponible todavía. Si nos dejas un mail, te avisaremos cuando esté disponible para ser cursado.</p>
    <p><small><b>*</b> La información que nos facilites <b>SOLAMENTE</b> la utilizaremos para enviar información de <b>ESTE</b> curso.</small> </p>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <form class="form-horizontal" id="contact-form" method="POST" action="//formspree.io/">
                <div class="form-group">
                    <label for="inputEmail3" class="col-xs-12 col-sm-2 control-label">Tu email:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="email" name="_replyto" class="form-control" id="inputEmail3" placeholder="Escribe tu mail" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">Enviar &rarr;</button>
                    </div>
                </div>
                <input name="_subject" type="hidden" value="[informacion-mongodb]">
                <input type="hidden" name="_next" value="http://abirtone.com/formacion/info_cursos/" >
            </form>
        </div>
    </div>

    <!-- Inscripcion-->
    {% include courses_chunks/ubicacion.html %}

    <!-- Modo de pago -->
    {% include courses_chunks/pago.html %}

    <!-- Referencias -->
    {% include courses_chunks/referencias_titulo.html %}
    <ul>
        <li><a class="link" href="http://blog.mongodb.org/post/98888988013/sharding-pitfalls-part-i">Fallos comunes utilizando sharding y MongoDB (I/II) &rarr;</a></li>
        <li><a class="link" href="http://blog.mongodb.org/post/99486531903/sharding-pitfalls-part-ii-running-a-sharded">Fallos comunes utilizando sharding y MongoDB (II/II) &rarr;</a></li>
        <li><a class="link" href="http://www.slideshare.net/crodas/mongodb-advanced-topics">MongoDB: Temas avanzados &rarr;</a></li>
        <li><a class="link" href="http://www.javabeat.net/indexing-in-practice-using-mongodb/">Indexación con MongoDB en la práctica &rarr;</a></li>
        <li><a class="link" href="http://www.tutorialspoint.com/mongodb/mongodb_advanced_indexing.htm">Indexación avanzado con MongoDB &rarr;</a></li>
    </ul>
</div>

<div class="col-xs-12 col-sm-4 first-2">
    <div class="panel panel-abirtone">
        <div class="panel-heading">
            <h3 class="panel-title">Resumen curso MongoDB Avanzado</h3>
        </div>
        <div class="panel-body">
            <!-- Entradas resumen curso -->
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Precio</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Subvencionable a través de la fundación TriPartita. IVA incluido"></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><b class="color-green">1200€</b></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Horas lectivas</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><b>20</b> horas</div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Duración</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r">5 días</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Horario</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="El horario puede adaptarse a la disponibilidad y agenda de los asistentes"></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r">Tardes</div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Modo</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><b>Presencial</b></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Lugar</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><a class="link" href="#ubicacion">Madrid &rarr;</a></div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Grupos</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><b>10</b> pax máximo</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Bolsa de trabajo</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Licencia incluida</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Licencia WebStorm Educational incluida"></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Materia adicional</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Pendrives, libretas, bolígrafos o cualquier otro material que fuese necesario."></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Documentación impresa</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Subvencionado</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i> <i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Subvencionable a través de la fundación TriPartita. Consultanos para más información."></i></div>
            </div>
            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Profesor</b></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><a class="link" href="https://www.linkedin.com/in/victorcuervo/es" target="_blank">Víctor Cuervo &rarr;</a></div>
            </div>

            <!-- Ofertas especiales -->
            <div class="row box-border-top">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Descuentos para grupos</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Si sois 5 o más, podréis tener un descuento de hasta uno 10% por alumno. Contactanos para más información"></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>

            <div class="row alt-row-color">
                <div class="col-xs-6 col-sm-7 box-col-l"><b>Descuentos para estudiantes</b><i class="glyphicon glyphicon-info-sign color-grey" data-toggle="tooltip" data-placement="bottom" title="Si eres estudiante universitario desempleado, podrás tener un descuento de hasta unt 15%. Contáctanos para más información"></i></div>
                <div class="col-xs-6 col-sm-5 box-col-r"><i class="glyphicon glyphicon-ok color-green"></i></div>
            </div>

            <!--Boton de reservar-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 box-border-top box-col-button">
                    <a href="#inscripcion" class="btn btn-danger"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Inscribirse &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>