---
layout: default
title: Curso avanzado de MongoDB y casos de uso
active_tab: "course_mongodb_avanzado"
enabled: 1
permalink: /formacion/mongodb-avanzado/
description: "Curso avanzado de MongoDB: operaciones avanzadas, sharding, GridFS, Map-Reduce, cloud y mucho más."
link_icon: "http://abirtone.com/static/images/icon-mongodb.png"
---

<div class="col-xs-12 col-sm-8">

    <div class="page-header first-3 first-section">
        <div class="pull-right text-center">
            <img class="img-responsive" src="/static/images/courses/icon-mongodb.png" alt="Logo MongoDB"/>
        </div>
        <h1>Curso avanzado de MongoDB y operaciones especializadas - DEV05</h1>
        <ul class="breadcrumb">
            <li><a class="link" href="/">Inicio</a></li>
            <li><a class="link" href="/formacion/">Formación</a></li>
            <li><a class="link" href="/formacion/#desarrollo">Desarrollo</a></li>
            <li class="active">MongoDB avanzado :: casos de uso</li>
        </ul>
        {% include courses_chunks/level_advanced.html %}
    </div>

    <div class="page-header section-title">
        <h2><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> MongoDB para quienes buscan más</h2>
    </div>

    <p>Con MongoDB puedes realizar búsqueda tan complejas como necesites en un tiempo record.</p>

    <p>MongoDB está preparado para soportar gran carga de procesamiento, disponibilidad y tolerancia a fallos.</p>

    <p>En este curso podrás aprender todo esto y mucho más.</p>

    <!-- Indice del curso -->
    {% include courses_chunks/indice_temario_titulo.html %}
    <ul class="list-group">
        <li class="list-group-item">Módulo 1: <b>Modelos de Datos NoSQL</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Revisión de los diferentes modelos</li>
                <li>Modelos <code>Embebidos</code></li>
                <li>Modelos Normalizados</li>
                <li>Relaciones y objetos referenciados</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 2: <b>Operaciones Avanzadas</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Operaciones Masivas de Datos - <code>Bulking</code></li>
                <li><code>Covered Queries</code></li>
                <li>Manejando Operaciones Atómicas. Two Phase Commit</li>
                <li>Text Search</li>
                <li>Manejo de Expresiones Regulares</li>
                <li><code>Capped</code> Collections</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 3: <b>Índices Avanzados</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Índices sobre <code>Arrays</code></li>
                <li>Índices sobre Subdocumentos</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 4: <b>Map Reduce con MongoDB</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Framework de <code>agregación</code> </li>
                <li><code>MapReduce</code> con MongoDB</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 5: <b>Sharding</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Creación de un <code>cluster</code></li>
                <li>Distribución de datos entre diferentes <code>shards</code></li>
                <li>Ejecución de queries distribuidas</li>
                <li>Manejo de indices en el <code>Sharding</code></li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 6: <b>Replica Set</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Configurando un <code>ReplicaSet</code></li>
                <li>Añadiendo miembros al ReplicaSet</li>
                <li>Consideraciones en consultas y escrituras sobre un ReplicaSet</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 7: <b>GridFS</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Utilizando <code>GridFS</code></li>
                <li>Consultas e Inserciones en GridFS</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 8: <b>Herramientas de Desarrollo sobre MongoDB</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>MonjaDB</li>
                <li>Enide Studio</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 9: <b>MongoDB y Cloud</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Uso de MongoLab para desplegar MongoDB como DBaaS</li>
                <li>Conexión y uso de MongoDB en <code>Cloud</code></li>
                <li>Operaciones básicas de MongoDB en Cloud</li>
                <li>MongoDB en <code>Heroku</code></li>
                <li>MongoDB en AWS</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 10: <b>MMS</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Introducción a MMS</li>
                <li>Administración de MongoDB desde MMS</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 11: <b>Casos de Uso de MongoDB</b></li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Modelos Dinámicos y <code>Metamodelos</code></li>
                <li>Entornos de Grandes Volúmenes de Datos</li>
                <li>Agregaciones de Información</li>
                <li>Gestión de Contenidos</li>
            </ul>
        </li>
    </ul>

    <!-- Inscripcion-->
    <a name="convocatorias"></a>
    {% include courses_chunks/convocatorias_titulo.html %}
    <p>Estas son las convocotarias actualmente activas:</p>

    {% assign content = site.data.mongodb_advanced %}
    {% include courses_chunks/course_call.html %}

    <!-- Bolsa trabajo -->
    {% include courses_chunks/bolsa.html %}

    <!-- Referencias -->
    {% include courses_chunks/referencias_titulo.html %}
    <ul>
        <li><a class="link" href="http://blog.mongodb.org/post/98888988013/sharding-pitfalls-part-i">Fallos comunes utilizando sharding y MongoDB (I/II) &rarr;</a></li>
        <li><a class="link" href="http://blog.mongodb.org/post/99486531903/sharding-pitfalls-part-ii-running-a-sharded">Fallos comunes utilizando sharding y MongoDB (II/II) &rarr;</a></li>
        <li><a class="link" href="http://www.slideshare.net/crodas/mongodb-advanced-topics">MongoDB: Temas avanzados &rarr;</a></li>
        <li><a class="link" href="http://www.javabeat.net/indexing-in-practice-using-mongodb/">Indexación con MongoDB en la práctica &rarr;</a></li>
        <li><a class="link" href="http://www.tutorialspoint.com/mongodb/mongodb_advanced_indexing.htm">Indexación avanzado con MongoDB &rarr;</a></li>
    </ul>
</div>

<div class="col-xs-12 col-sm-4 first-2">
    <div class="panel panel-abirtone">
        {% assign prize = 550 %}
        {% assign duration = 20 %}
        {% include courses_chunks/lateral_table.html %}
    </div>
</div>