---
layout: course
title: Hacking de redes con Python y Scapy
active_tab: "course_scapy"
permalink: /formacion/hacking-redes-python-y-scapy/
description: "Curso avanzado de hacking de redes con Python y Scapy"
link_icon: "http://abirtone.com/static/images/icon-scapy.png"
---


<div class="col-xs-12 col-sm-8">

    <div class="page-header first-3 first-section">
        <img class="img-responsive pull-right" src="/static/images/courses/icon-scapy.png" alt="Logo Scapy"/>
        <h1>Curso de hacking en redes con Python y Scapy - SEC02</h1>
        <ul class="breadcrumb">
            <li><a class="link" href="/">Inicio</a></li>
            <li><a class="link" href="/formacion/">Formación</a></li>
            <li><a class="link" href="/formacion/#seguridad">Seguridad</a></li>
            <li class="active">Scapy</li>
        </ul>
        {% include courses_chunks/level_advanced.html %}
    </div>

    <div class="page-header section-title">
        <h2><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> ¿ Qué es Scapy ?</h2>
    </div>

    <p>Scapy es una de las <b>herramientas más potentes</b> para el análisis y <b>hacking en redes</b>, escrita en <b>Python</b>. Con ella podrás generar paquetes de red de prácticamente todos los protocolos conocidos (<b>no solo TCP/IP</b>).</p>

    <div class="page-header section-title">
        <h2><i class="glyphicon glyphicon-pushpin" aria-hidden="true"></i> Objetivos del curso</h2>
        <p>El objetivo de este curso es que los alumnos entiendan <b>de forma teórica y práctica los ataques relacionados con los mecanismos de análisis de seguridad en redes de comunicaciones:</b>.</p>

        <ul>
            <li>Generar paquetes de red de prácticamente todos los protocolos conocidos (<b>no solo TCP/IP</b>).</li>
            <li>Configurar y ajustar los paquetes <b>a nivel de bits</b>. Esnifar tráfico de red y modificarlo al vuelo, hacer escáneres extremadamente personalizados o, en su modo más avanzado, <b>simular pilas</b> completas de <b>protocolos</b>, con modelos de estados y autómatas finitos.</li>
            <li>Comenzar con el uso básico de Scapy, hasta <b>llegar a su uso más avanzado</b>.</li>
        </ul>

    </div>

    <!-- Indice del curso -->
    {% include courses_chunks/indice_temario_titulo.html %}
    <ul class="list-group">
        <li class="list-group-item">Módulo 1: Introducción a Scapy</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Qué es scapy</li>
                <li>El modo interactivo</li>
                <li>Funciones de ayuda</li>
                <li>Construcción de un paquete básico</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 2: Uso avanzado de Scapy</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>¿ Qué es un <code>layer</code> ?</li>
                <li>Pila TCP/IP y layers de Scapy</li>
                <li>Layers más usados</li>
                <li>Parámetros de los layers</li>
                <li>Modos de envío <code>send</code>, <code>sendp</code> y <code>sr1</code></li>
                <li>Análisis de respuestas</li>
                <li>Formateo de cabeceras</li>
                <li>Lectura de fichero <code>.pcap</code></li>
                <li>Reinyección en modo flood</li>
                <li>Construcción de nuevo layer</li>
                <li>Exportar información y gráficas de datos</li>
            </ul>
        </li>
        <li class="list-group-item">Módulo 3: Usando Scapy como librería</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Importando objetos</li>
                <li>Funciones y llamadas</li>
                <li>Envío de información</li>
                <li>Disección de un paquete</li>
                <li>Scapy y <code>multithreading</code></li>
                <li>Interceptación de paquetes, modificación al vuelo, firewalls y el sistema operativo</li>
                <li>Logging remoto con <code>syslog-ng</code> y Scapy</li>
                <li>Automaton: el autómata de estados finitos de Scapy</li>
            </ul>
        </li>
        <li class="list-group-item">Prácticas:</li>
        <li class="list-group-item list-subgroup">
            <ul>
                <li>Práctica 1: Suplantación de un servidor DHCP con scapy y multithreading</li>
                <li>Práctica 2: Sniffing de paquetes de red y logging remoto de credenciales</li>
                <li>Práctica 3: Emular la pila TCP/IP usando Automation de Scapy</li>
            </ul>
        </li>
    </ul>

    <!-- Inscripcion-->
    <a name="convocatorias"></a>
    {% include courses_chunks/convocatorias_titulo.html %}
    <p>Estas son las convocotarias actualmente activas:</p>

    {% assign content = site.data.scapy %}
    {% include courses_chunks/course_call.html %}

    <!-- Bolsa trabajo -->
    {% include courses_chunks/bolsa.html %}

    <!-- Referencias -->
    {% include courses_chunks/referencias_titulo.html %}
    <ul>
        <li><a class="link" href="http://www.secdev.org/projects/scapy/">Web oficial de Scapy &rarr;</a></li>
        <li><a class="link" href="https://theitgeekchronicles.files.wordpress.com/2012/05/scapyguide1.pdf">Fantásitica guía (NO OFICIAL) para dummies &rarr;</a></li>
        <li><a class="link" href="http://bt3gl.github.io/black-hat-python-infinite-possibilities-with-the-scapy-module.html">BlackHat Python &rarr;</a></li>
        <li><a class="link" href="http://www.securitytube.net/video/7876">Fundamentals of Scapy and usage on Kali Linux &rarr;</a></li>
    </ul>
</div>

<div class="col-xs-12 col-sm-4 first-3">
    <div class="panel panel-abirtone">
        {% assign prize = 150 %}
        {% assign duration = 10 %}
        {% include courses_chunks/lateral_table.html %}
    </div>
</div>