---
layout: page
---

<div class="main zerogrid">
    <div class="row p2">
        <article class="col-3-4">
            <div class="wrap-col">
                <h3>{{ page.title }}</h3>

                {{ content }}

            </div>
        </article>
        <article class="col-1-4">
            <div class="wrap-col">
                <div style="width: 250px;" class="indent-top4"><a class="twitter-timeline" href="https://twitter.com/abirtone" data-widget-id="604230689949634560">Tweets por el @abirtone.</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
                <div class="fb-like indent-top2 aligncenter" data-href="https://facebook.com/abirtone" data-width="250px" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
        </article>
    </div>
</div>
<div id="fb-root"></div>
<script type="text/javascript">
    $(window).load(function() {
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    });
</script>