---
layout: page
---
<div class="col-sm-12">
    <div class="page-header first">
        <h1>{{page.title}}</h1>
    </div>
</div>

<div class="col-sm-9 col-xs-12">
    {{ content }}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'abirtone';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<div class="col-sm-3 hidden-xs">
    <div id="fb-root"></div>
    <div><a class="twitter-timeline" href="https://twitter.com/abirtone" data-widget-id="604230689949634560">Tweets por el @abirtone.</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
    <div class="fb-like" data-width="250px" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
